<ion-content>
  <ion-header [translucent]="true">
    <ion-toolbar>

      <ion-title>
        Detalhes do usuário
      </ion-title>
      <ion-buttons slot="start">
        <ion-button (click)="closeModal()">
          <ion-icon name="arrow-back-outline" style="zoom:1.2;"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


  <ion-row justify-content-center>
    <ion-col col-12 col-sm-9 col-md-7 col-lg-5>
      <div class="image-div" *ngIf="user.picture?.large">
        <img
          [src]="user.picture?.large"
          onError="this.src='./assets/imgs/user.png';"
          (load)="imgLoaded = true"
          [hidden]="!imgLoaded"
        />
        <ion-spinner color="primary" *ngIf="!imgLoaded"></ion-spinner>
      </div>


      <div class="text-div">
        <ion-grid>
          <ion-row align-items-center>
            <ion-col>

              <h3 class="strong"><span class="title">Nome:</span> {{ user.name?.first }} <span>{{ user.name?.last}}</span></h3>
              <a href="malito:{{ user.email }}" class="small"><span class="title">Email: </span>{{ user.email }}</a>
              <h4><span>Gênero:</span> {{ user.gender }}</h4>
            </ion-col>

          </ion-row>
        </ion-grid>
        <br />
      </div>
    </ion-col>
  </ion-row>
</ion-content>

